* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 50ms;
}



/* Global Styles */
/* Body Styles */
body {
    min-height: 100dvh;
    padding-top: 1rem;
    background-color: #262724;
    background: linear-gradient(180deg, #0d0d0e 0%, #2a2335 100%);
    background: linear-gradient(180deg, #0d0d0e 0%, #2a2335 100%);
    color: white;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
}

/* Header Styles */
header {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 1rem;
}

/* Main Styles */
main {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



/* Text Styles */
h1 {
    color: #aa7cff;
    font-weight: 500;
    font-size: 3rem;
}

h2 {
    margin-bottom: 1rem;
    font-weight: 400;
}

h4 {
    font-size: 0.9rem;
}

label, h4 {
    color: #d0c0fd;
    font-weight: 400;
    font-size: 1.1rem;
}

p {
    margin-top: 0.6rem;
}




/* Hidden Elements */
.hidden {
    display: none !important;
}




/* Form Styles */
/* Submit Post Form */
#submit-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 40dvw;
    border: 1px solid #ffffff;
    padding: 1rem;
    border-radius: 7px;
}

/* Form Field Styles */
.form-field {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #e2e0e4;
    border-radius: 5px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #515152;
}

/* Comment Section Styles */
.comment-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

/* Blog Post Styles */
.blog-post {
    width: 40dvw;
    padding: 2rem;
    text-align: left;
    gap: 2rem;
    border: 1px solid #e2e0e4;
    border-radius: 5px;
    margin-bottom: 2rem;
}

/* Form Element Styles */
input, textarea, label, select {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    width: 30dvw;
    color: white;;
}

/* Input and Textarea Styles */
input, textarea {
    background-color: #515152;
    border: 1px solid #e2e0e4;
    border-radius: 5px;
    font-family: 'Lexend Deca', sans-serif;
    padding: 0.5rem;
}

/* Textarea Styles */
textarea {
    height: 10rem;
    resize: vertical;
}

/* Autofill Styles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px #515152 inset !important;
    -webkit-text-fill-color: white !important;
    color: white !important;
}

/* Focus Styles */
input:focus, textarea:focus {
    outline: 3px solid #aa7cff;
}




/* Button Styles */
button {
    background-color: #aa7cff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    transition: 300ms;
}

.button-row {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
}

#new-post-button {
    margin-top: 10rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

#submit-button {
    margin-bottom: 2rem;
}

#like-button {
    margin-right: 1rem;
}

#delete-button {
    margin-left: auto;
    background-color: #a52b2b;
}

#top-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: rgba(170, 124, 255, 0.2);
}

#top-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: rgba(170, 124, 255, 0.2);
}

button:hover {
    background-color: #8e5bec;
}




/* Footer */
footer {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 3rem;
}




/* Responsive Design iPads */
@media only screen and (max-width: 1024px) {
    
    .blog-post{
        font-size: 1.3rem;
    }
    
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    label, h4 {
        font-size: 1.3rem;
    }
    
    button {
        font-size: 1.2rem;
    }   

    #submit-post, .blog-post {
        width: 80dvw;
    }

    input, textarea, label, select {
        width: 70dvw;
    }

    input, textarea {
        font-size: 1.1rem;
    }

    footer{
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}



/* Responsive Design Mobile */
@media only screen and (max-width: 480px) {
    
    .blog-post{
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    label, h4 {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.7rem;
    }   

    #submit-post, .blog-post {
        width: 90dvw;
    }

    input, textarea, label, select {
        width: 75dvw;
    }

    input, textarea {
        font-size: 0.8rem;
    }

    input:focus, textarea:focus {
    outline: 2px solid #aa7cff;
    }

    footer{
        font-size: 0.7rem;
        margin-bottom: 2rem;
    }
}